# Worksheet 02

Name: Youxuan Ma

UID: U23330522

### Topics

- Effective Programming

### Effective Programming

a) What is a drawback of the top down approach?

One of the drawbacks is its limited flexibility and adaptability: top-down approach, given its structrured nature, is less flexible to changes that occur during the development process. Any modifications in the requirements might necessitate significant redesign and rework, especially if they affect the high-level design.

Some other drawbacks of this approach include: 
- Difficulty in identifying all requirements upfront 
- Delayed testing and integration
- Overhead in high-level design documentation

b) What is a drawback of the bottom up approach?

c) What are 3 things you can do to have a better debugging experience?

d) (Optional) Follow along with the live coding. You can write your code here:

## Exercise

This exercise will use the [Titanic dataset](https://www.kaggle.com/c/titanic/data) (https://www.kaggle.com/c/titanic/data). Download the file named `train.csv` and place it in the same folder as this notebook.

The goal of this exercise is to practice using [pandas](https://pypi.org/project/pandas/) methods. If your:

1. code is taking a long time to run
2. code involves for loops or while loops
3. code spans multiple lines

look through the pandas documentation for alternatives. This [cheat sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf) may come in handy.

a) Complete the code below to read in a filepath to the `train.csv` and returns the DataFrame.

In [1]:
import pandas as pd

df = pd.read_csv('train.csv')
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

b) Complete the code so it returns the number of rows that have at least one empty column value

In [5]:
print("there are " +  str(df.isnull().any(axis=1).sum()) + " rows with at least one empty value")

there are 708 rows with at least one empty value

c) Complete the code below to remove all columns with more than 200 NaN values

In [ ]:
df = ...
df.columns

d) Complete the code below to replaces `male` with 0 and `female` with 1

In [ ]:
df['Sex'] = ...
df.head()

e) Complete the code below to add four columns `First Name`, `Middle Name`, `Last Name`, and `Title` corresponding to the value in the `name` column.

For example: `Braund, Mr. Owen Harris` would be: 

|First Name | Middle Name | Last Name | Title |
|-----------|-------------|-----------|-------|
| Owen      |  Harris     |  Braund   | Mr    |

Anything not clearly one of the above 4 categories can be ignored.

In [ ]:
df[['First Name', 'Middle Name', 'Last Name', 'Title']] = ...
df.head()

f) Complete the code below to replace all missing ages with the average age

In [ ]:
df['Age'] = ...
df.head()

g) Plot a bar chart of the average age of those that survived and did not survive. Briefly comment on what you observe.